.pantalla {
    background-color: gray;
    padding: 15px;
    border-radius: 30px;
    text-align: end;
    border: 4px solid gray;
    height: 50px;
}

.pantalla:hover {
    background-color: black;
    color: white;
    border: 4px solid gray;
}