* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contenedor-logo img {
    width: 200px;
}

.Contenedor-Calculadora {
    width: 600px;
    border: yellow solid 4px;
    border-radius: 30px;
    padding: 30px;
    background-color: blue;
}

.row {
    width: 100%;
    display: flex;
    padding: 5px;
}

